.diet-btns {
	display: flex;
	flex-direction: column;
	padding: 15px;
}
.diet-select {
	display: flex;
	flex-direction: row;
}

#ingredients-input {
	  margin: 0 auto;
	height: 100vh;
}

.ingredients-form {
	height: fit-content;
	display: flex;
	flex-direction: column;
	    align-items: center;
    padding: auto auto auto auto;

}
.desc2 {
		padding-right: 20px;
	font-family: Andale Mono, AndaleMono, monospace;
	 /* line-height: 2.5; */
	 font-size: 30px;
	 /* padding: 20px; */
	 text-align: center;
}
.ingredients-input {
	padding: 5px;
	margin: 15px;
	width: 200px;
	height: 40px;
	font-size: 15px;
	border: 1px solid darkgray;
	border-radius: 4px;
}

#submit-btn {
	cursor: pointer;
	background-color: darkgray;
	 border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.results-scroll {
	cursor: pointer;
	font-family: Andale Mono, AndaleMono, monospace;
	 font-size: 25px;
	text-align: center;
	padding-top: 20px;
}
.results-scroll:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 500ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@media only screen and (max-width: 400px) {

.desc2 {
	font-size: 20px;
}
	#ingredients-input {
			font-size: 20px;
	  margin: 0 auto;
	max-height: 100vh;
}
.ingredients-input {
	padding: 10px;
	margin: 10px;
	width: 100px;
	height: 20px;
	font-size: 10px;
	border: 1px solid darkgray;
	border-radius: 5px;
}
.results-scroll {
	cursor: pointer;
	font-family: Andale Mono, AndaleMono, monospace;
	 font-size: 16px;
	text-align: center;
	padding-top: 50px;
}
#submit-btn {
	cursor: pointer;
	background-color: darkgray;
	 border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	font-size: 16px;
margin-top: 50px;
}
	
}
