.app {
	max-width: 100vw;
	font-family: Andale Mono, AndaleMono, monospace;
}
.results-cards {
	display:flex;
	flex-direction: row;
	padding: 10px;
	justify-content: center;
	flex-wrap: wrap;
}
.results {
	color: white;
	background-color: black;
}
.you-could {
	padding: 20px;
	text-align: center;
	font-size: 60px;
}